.auto_dark_mode_button {
  position: fixed;
  left: 20px;
  bottom: calc(var(--auto-dark-mode-safe-area-bottom) + 20px);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  /* box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
  background-color: var(--auto-dark-mode-accent-color);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99998;
}

.auto_dark_mode_button svg {
  width: 24px;
  height: 24px;
}

.auto_dark_mode_button svg path {
  fill: var(--auto-dark-mode-ffffff);
}