.auto_dark_mode_button {
  position: fixed;
  left: 20px;
  bottom: calc(var(--auto-dark-mode-safe-area-bottom) + 20px);
  width: 75px;
  height: 35px;
  border-radius: 10px;
  border-color: var(--auto-dark-mode-c2c2c2);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--auto-dark-mode-ffffff);
  color: var(--auto-dark-mode-333333);
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99997;
}