:root {
  --auto-dark-mode-system-color-canvas: Canvas;
  --auto-dark-mode-system-color-canvastext: CanvasText;
  --auto-dark-mode-system-color-linktext: LinkText;
  --auto-dark-mode-system-color-visitedtext: VisitedText;
  --auto-dark-mode-system-color-activetext: ActiveText;
  --auto-dark-mode-system-color-buttonface: #c0c0c0;
  --auto-dark-mode-system-color-buttontext: #000000;
  --auto-dark-mode-system-color-field: Field;
  --auto-dark-mode-system-color-fieldtext: FieldText;
  --auto-dark-mode-system-color-highlight: rgba(247, 209, 84, 0.5);
  --auto-dark-mode-system-color-highlighttext: #000000;
  --auto-dark-mode-system-color-graytext: #888888;
  --auto-dark-mode-system-color-mark: Mark;
  --auto-dark-mode-system-color-marktext: MarkText;
  --auto-dark-mode-system-color-selecteditem: SelectedItem;
  --auto-dark-mode-system-color-selecteditemtext: SelectedItemText;
}

@supports (color: ButtonFace) {
  :root {
    --auto-dark-mode-system-color-buttonface: ButtonFace;
  }
}

@supports (color: ButtonText) {
  :root {
    --auto-dark-mode-system-color-buttontext: ButtonText;
  }
}

@supports (color: Highlight) {
  :root {
    --auto-dark-mode-system-color-highlight: Highlight;
  }
}

@supports (color: HighlightText) {
  :root {
    --auto-dark-mode-system-color-highlighttext: HighlightText;
  }
}

@supports (color: GrayText) {
  :root {
    --auto-dark-mode-system-color-graytext: GrayText;
  }
}