:root {
  --auto-dark-mode-accent-color: #222324;
  --auto-dark-mode-ffffff: #ffffff;
  --auto-dark-mode-e2e8f0: #e2e8f0;
  --auto-dark-mode-cccccc: #cccccc;
  --auto-dark-mode-333333: #333333;
  --auto-dark-mode-button-mask: url('data:image/svg+xml,<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 960" width="960" height="960"><path d="m960 960h-960v-960h960zm-415.3-329.7q38.4-24.8 55.6-67 3.4-8.8-3.1-15.9-6.5-7.1-15.9-4.3-5.2 1.6-10.6 1.6-5.5 0.1-10.7-0.1-51.7-1.7-88.4-37.5-36.6-35.8-36.6-87.1 0-11.3 1.6-22.3 1.7-10.9 6.3-21.1 4.8-10.1-1.9-18.7-6.7-8.6-17.7-6.7-26.4 4.6-48.1 18.4-21.6 13.7-37.3 33.7-15.6 20-24.3 44.8-8.6 24.8-8.6 51.9 0 64.7 45.2 109.8 45.1 45.2 109.8 45.2 46.3 0 84.7-24.7zm-173.3-41.7q-36.4-36.5-36.4-88.6 0-37.2 20.3-67.8 20.3-30.6 53.8-45.9-1.9 8.2-3 16.6-1.1 8.5-1.1 17.1 0 64 45 108.3 45 44.3 109.6 46.2-17.9 23.5-43.9 37-26 13.5-55.7 13.5-52.1 0-88.6-36.4zm262.7-171.1l10.8 30.9q1.6 4.3 4.9 6.7 3.4 2.4 7.7 2.4 7.4 0 11.3-5.8 3.9-5.9 1.7-12.4l-50.4-146.4q-1.6-4.6-5.7-7.5-4-2.9-9.1-2.9h-10.6q-5.1 0-9 2.9-4 2.9-5.6 7.5l-50.6 146.2q-2.2 6.6 1.8 12.5 4 5.9 11.4 5.9 4.3 0 7.6-2.5 3.4-2.5 5-6.8l10.6-30.7zm-34.1-105.6l26.8 83.6h-53.7z"/></svg>');
}

@media (prefers-color-scheme:dark) {
  :root {
    --auto-dark-mode-accent-color: #d6dce1;
    --auto-dark-mode-ffffff: #0c0d0f;
    --auto-dark-mode-e2e8f0: #1f2021;
    --auto-dark-mode-cccccc: #414243;
    --auto-dark-mode-333333: #d0d0d0;
  }
}

:root {
  --auto-dark-mode-safe-area-left: 0px;
  --auto-dark-mode-safe-area-right: 0px;
  --auto-dark-mode-safe-area-top: 0px;
  --auto-dark-mode-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --auto-dark-mode-safe-area-left: constant(safe-area-inset-left);
    --auto-dark-mode-safe-area-right: constant(safe-area-inset-right);
    --auto-dark-mode-safe-area-top: constant(safe-area-inset-top);
    --auto-dark-mode-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --auto-dark-mode-safe-area-left: env(safe-area-inset-left);
    --auto-dark-mode-safe-area-right: env(safe-area-inset-right);
    --auto-dark-mode-safe-area-top: env(safe-area-inset-top);
    --auto-dark-mode-safe-area-bottom: env(safe-area-inset-bottom);
  }
}