@media (max-width: 768px) {
  @keyframes auto-dark-mode-panel-slide-in {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }
}

@media (min-width: 769px) {
  @keyframes auto-dark-mode-panel-slide-in {
    0% {
      transform: translateX(-400px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}

@keyframes auto-dark-mode-panel-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}