.auto_dark_mode_panel_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 100002;
  user-select: none;
  -webkit-user-select: none;
}

@media (max-width: 768px) {
  .auto_dark_mode_panel_container {
    transform: translateY(100%);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, var(--adm-ffffff) 60%, var(--adm-ffffff) 100%);
  }

  .auto_dark_mode_panel_container::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 769px) {
  .auto_dark_mode_panel_container {
    transform: translateX(-400px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
  }
}

.auto_dark_mode_panel_container[displayed="true"] {
  visibility: visible;
}

.auto_dark_mode_panel_container.auto_dark_mode_panel_container_slide_in {
  animation-name: auto-dark-mode-panel-slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@media (max-width: 768px) {
  .auto_dark_mode_panel_container.auto_dark_mode_panel_container_slided_in {
    transform: translateY(0%);
  }
}

@media (min-width: 768px) {
  .auto_dark_mode_panel_container.auto_dark_mode_panel_container_slided_in {
    transform: translateX(0px);
  }
}

.auto_dark_mode_panel_container.auto_dark_mode_panel_container_slide_out {
  animation-name: auto-dark-mode-panel-slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}