.auto_dark_mode_panel .auto_dark_mode_panel_head {
  position: relative;
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.auto_dark_mode_panel .auto_dark_mode_panel_head .auto_dark_mode_panel_head_title {
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 24px - 24px);
  height: calc(80px - 24px - 12px);
  color: var(--auto-dark-mode-333333);
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.auto_dark_mode_panel .auto_dark_mode_panel_head .auto_dark_mode_toggle_all_button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 120px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--auto-dark-mode-accent-color);
  color: var(--auto-dark-mode-ffffff);
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  word-break: keep-all;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
}