.auto_dark_mode_panel .auto_dark_mode_panel_body .auto_dark_mode_toggle_all_button {
  position: relative;
  left: 24px;
  width: calc(100% - 24px - 24px);
  height: 48px;
  border-radius: 12px;
  background-color: var(--auto-dark-mode-accent-color);
  color: var(--auto-dark-mode-ffffff);
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
}