.auto_dark_mode_control_panel {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
  background-color: var(--auto-dark-mode-ffffff);
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  visibility: hidden;
  transform: translateY(100%);
}

.auto_dark_mode_control_panel[displayed="true"] {
  visibility: visible;
}

.auto_dark_mode_control_panel.auto_dark_mode_control_panel_slide_in {
  animation-name: auto-dark-mode-control-panel-slide-in;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in;
}

.auto_dark_mode_control_panel.auto_dark_mode_control_panel_slided_in {
  transform: translateY(0%);
}

.auto_dark_mode_control_panel.auto_dark_mode_control_panel_slide_out {
  animation-name: auto-dark-mode-control-panel-slide-in;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}