.auto_dark_mode_control_panel {
  position: fixed;
  background-color: var(--auto-dark-mode-f9f9fb);
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  visibility: hidden;
  z-index: 99999;
}

@media (max-width: 768px) {
  .auto_dark_mode_control_panel {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 85%;
    transform: translateY(100%);
  }
}

@media (min-width: 769px) {
  .auto_dark_mode_control_panel {
    top: 0px;
    left: 0px;
    width: clamp(300px, 30%, 400px);
    height: 100%;
    transform: translateX(-100%);
  }
}

.auto_dark_mode_control_panel[displayed="true"] {
  visibility: visible;
}

.auto_dark_mode_control_panel.auto_dark_mode_control_panel_slide_in {
  animation-name: auto-dark-mode-control-panel-slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.auto_dark_mode_control_panel.auto_dark_mode_control_panel_slided_in {
  transform: translateY(0%);
}

.auto_dark_mode_control_panel.auto_dark_mode_control_panel_slide_out {
  animation-name: auto-dark-mode-control-panel-slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}