.auto_dark_mode_control_panel .auto_dark_mode_control_panel_body .auto_dark_mode_switch_all_button {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  height: 45px;
  border-radius: 15px;
  background-color: var(--auto-dark-mode-c2c2c2);
  color: var(--auto-dark-mode-333333);
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
}